<h2>All Historical Landmarks</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>

  <% Landmark.all.each do |landmark| %>
    <tr>
      <td><%=landmark.id%></td>
      <td><a href=<%="landmarks/#{landmark.id}"%>> <%=landmark.name%> </a></td>
      <td><%=landmmark.year_completed%></td>
    </tr>
  <% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
