<h2>Create New Landmark</h2>

<form action='/landmarks/new' method='post'>

  <label for='landmark[name]'>Name: </label>
  <input type='text' name='landmark[name]'>

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
