<table>

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>
  <tr>
    <td><%=@figure.id%></td>
    <td><%=@figure.name%></td>
  </tr>
</table>
<a href=<%="/figures/#{@figure.id}/edit"%>>Edit</a>
